
body{
    background-image: url("image001.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 1270px;
}

#rowDiv{
    margin-left: 35%;
    width: 50%;
}

input[type="text"]{
    height: 40px;
    font-size: 20px;
}

#submitWeather{
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}





